[2015-11-23 10:06] thomvil opened #1 "FFI compiler LoadError"
loading the gems fails

[code]

I don't have any experience with FFI myself. Although `extensions` in the `gemspec` seems to be set up as expected?

[2015-11-23 10:52] technion commented on #1
Hi Thomvil.

Thank you for reporting this error. I've been trying to investigate what may have occurred here.

As you can see from Travis, the gem currently loads and runs in the environments I've been testing with. I also ran and tested from a different machine.
[code]

Can you try running the install, and ensure you see the above? The argon2_wrap function is a component of the native extensions,

[2015-11-23 11:12] technion commented on #1
If the above doesn't leave any clues, can you please try building the gem extensions manually and see how we go.

[code]

[2015-11-26 03:24] technion commented on #1
@thomvil Since you haven't responded I'm down to guess work, but I have noted that if you happen to be on a system that does not have gcc installed (many Mac users only have clang installed) you may have noted a failure to compile in the above steps.

I've pushed version 0.1.1 as a fix for this issue and will close this ticket based as "assumed fixed", please let me know if this is not the case.

[2015-11-26 14:35] thomvil commented on #1
thank you for the suggestion.

`make test` actually fails for me

[code]

the compilation however completes without failure

[2015-11-26 21:45] technion commented on #1
"make test" failures only demonstrate that your compiler doesn't support the tests. I don't think that's an issue.

What is an issue is that you've confirmed the relevant file is being created, but on your system, it's just not getting found.

What OS are you running?

[2015-11-28 21:09] thomvil commented on #1
osx 10.10

[2015-11-28 21:35] technion commented on #1
@thomvil I have a suspicion https://github.com/technion/ruby-argon2/commit/b7bf0cf675f45132ab1698176064aa370e271b8e will be relevant here.

Can you pull the latest source and try the above process again? I understand OSX doesn't use the same file extensions Linux does - but I don't have an OSX machine around to test with. This recent commit changes the extension.

If that works I'll tag a new rele

[2015-12-01 15:32] thomvil commented on #1
no this doesn't work

[2015-12-02 01:21] technion commented on #1
@thomvil  Unfortunately this seems to be documented as an issue for several gems at the moment:

http://cgarvey.ie/archive/2015/10/01/mysql-client-library-issues-on-os-x-el-capitan/
https://github.com/jordansissel/fpm/issues/1010

Not having a Mac - this is proving difficult.

[2015-12-02 10:31] thomvil commented on #1
oh that's unfortunate. Thank you for identifying the problem.

[2015-12-02 21:25] technion commented on #1
There is a branch here that is working on the issue: https://github.com/ffi/ffi/issues/461

[2015-12-21 10:59] technion commented on #1
The Jekyll team have documented their workaround for the same issue here:

http://jekyllrb.com/docs/troubleshooting/#jekyll-amp-mac-os-x-1011

[2015-12-24 05:14] #1 closed

[2015-12-28 21:06] tgoddard opened #2 "Lack of null-byte support (limitation of encodings)"
The current implementation requires that this passes the password as a c-string without a length, so no null bytes can exist in the password string. This may seriously limit, for example, the ability to use this on strings in some encodings (UTF-16).

[2015-12-29 02:40] technion commented on #2
Hi,

I note this is regardless with the Python bindings, which refuse UTF-8, and, up until a few days ago, were shipped with the reference implementation.

Regardless, you're correct, I'll be getting this fixed.

[2015-12-29 06:09] technion commented on #2
I have pushed a fix that addresses this. This probably deserves a version bump, will leave this open a few days to settle first.

I've put the codebase successfully through:

    $ TEST_CHECKS=10000 bundle exec rake test

That said, any effort spent Googling regarding UTF-16 and Ruby only ever seems to lead to bugs, from RSpec, to Rails, to Ruby core. I can only guarantee what's covered in the tes

[2015-12-30 02:55] #2 closed

[2015-12-30 21:24] tgoddard opened #3 "FFI Loader cannot locate argon2_wrap on Mac OSX"
From clean git checkout, submodules installed, running setup then console:

[code]

The same issue appears with an installed gem. Not sure it's finding the dylib file.

[2015-12-30 21:34] tgoddard opened #4 "Use of ambiguous string lengths in FFI Engine interface"
I think there may be an issue around the lengths here. I'm struggling to compile on my mac, or would add tests and/or fix myself.

The length of several strings is measured with "length" in lib/argon2/ffi_engine.rb#L40 before being passed to a C interface that interprets this as a byte length. In Ruby 1.9 and higher, length is defined as the character length of the string, not the byte length. The

[2015-12-30 21:52] technion commented on #3
This is an El Capitan issue. See #1 and the README links for discussion.
While it is a regrettable annoyance, I don't have a lot of room to move around fixing it.

[2015-12-30 21:52] #3 closed

[2015-12-30 22:43] tgoddard commented on #3
OK, it's not just El Capitan then - I'm on Yosemite still.

[2015-12-30 22:47] technion commented on #4
Thank you for this report. I am writing a fix - but this DDoS that Linode is currently undergoing is making my development environment particularly poor.

[2015-12-30 23:09] #4 closed

[2015-12-31 03:01] technion commented on #3
@tgoddard in that case, there *might* be something else going on in your case, but I would need it very clearly identified, preferably with a PR, before I could do anything with it (as someone without a Mac).

[2016-01-13 04:01] technion opened #8 "Build failing with latest reference"
See https://github.com/P-H-C/phc-winner-argon2/issues/70.
Note, this only affects master, as tagged releases link against specific references sources.

[2016-01-16 11:07] #8 closed

[2016-02-15 21:43] dgutov opened #9 "Argon2::Password.hash overrides Object#hash in an incompatible manner"
Which makes it impossible to use the class as a key in a hash, for instance:

[code]

[2016-02-15 22:21] technion commented on #9
I could change the hash function to "create" in line with other similar gems. However, this would be a breaking change. Therefore I would have to ask, is the above code something you would ever write in practice?

[2016-02-15 22:32] dgutov commented on #9
Yup. I use a hash to cache class names here: https://github.com/dgutov/robe/blob/master/lib/robe/sash.rb#L38

It's a dynamic code assistance tool.

[2016-02-15 22:39] technion commented on #9
Sounds like I'm sold. Incoming fix.

[2016-02-16 00:20] #9 closed

[2016-02-16 00:21] technion commented on #9
This requires an obvious version bump. I've done so in the source, I'll let it settle a few days before tagging a release.

[2016-02-16 09:13] dgutov commented on #9
Thanks!

[2016-02-26 06:20] daxtens opened #10 "Failure to build on powerpc64le"
Hi,

Attempting to install argon2 on powerpc64le fails as follows:

[code]

This seems to be caused by powerpc gcc not supporting `-march`. We have `-mcpu` and friends, but it's probably easiest if you just drop the flag on powerpc.

Thanks in advance!

[2016-02-28 21:35] technion commented on #10
Hi,

Thanks for bringing this issue to our attention.

As this relates to compiling the C library, can you test if the C reference library compiles on your machine when built with optimisations?

    git clone https://github.com/P-H-C/phc-winner-argon2/
    OPT=TRUE make

If that fails, we will need to address it there.

[2016-02-28 21:54] technion commented on #10
Having just tested this, yes, the reference library will build with -march, as this is required for the optimisations, and there are no platform

I'm reluctant to diverge from the mainline strategy, and far more reluctant to introduce code changes for the sake of obscure hardware that nobody actually runs in production servers.

[2016-02-28 21:54] #10 closed

[2016-02-28 22:04] daxtens commented on #10
Hi. Thanks for looking into this. Thanks for the information about the upstream project: I'll follow it up with them.

[2016-03-02 09:14] colszowka opened #11 "Ship a new version?"
Hey there,

thanks for your work on this! I tried out the library and it seems the API changed significantly on master in comparison to 0.1.4 on Rubygems, most notably the examples mentioning `create` do not work since the method has been renamed from `hash`. It would be nice to have a new version shipped so the README on the Github landing page actually matches what you get upon installing the li

[2016-03-02 21:41] technion commented on #11
Hi,

There is slight hold up here unfortunately. There is currently [a branch in the reference C library](https://github.com/P-H-C/phc-winner-argon2/tree/1.3)  that makes major breaking changes, and will definitely require a major version bump. I'm attempting to avoid tagging version 1.0.0 (to address to move to 'create') and then releasing version 2.0.0 a few days later when that gets merged.

Fo

[2016-03-03 08:33] colszowka commented on #11
@technion Thanks for the info! I whipped up a tiny PR at #12 that adds a disclaimer note to the README on master

[2016-03-03 09:24] technion commented on #11
Thanks! I'll take that PR as a close on this issue. Discussion on the PHC issues page suggests this should hit mainline soon. Note, it breaks literally every test case, so I'll be burning some time importing it.

[2016-03-03 09:24] #11 closed

[2016-03-03 09:40] colszowka commented on #11
Thanks for your efforts!

[2016-03-08 22:09] technion commented on #11
@colszowka  I know this is closed but just to update you - I've pulled in the 1.3 algorithm and updated all tests. I'll just give it a few more days while they debate API stabilisation before tagging.

[2016-03-09 10:04] technion commented on #10
As this has been accepted upstream, I have pulled in a fix in the master branch. I will tag 1.0 shortly.

[2016-03-30 13:29] rojoko opened #13 "change in api breaks other gems"
The change in the api to create a password from version 0.1.4 to 1.0.0 in https://github.com/technion/ruby-argon2/blob/master/lib/argon2.rb from #hash to #create breaks the devise-argon2 gem https://github.com/erdostom/devise-argon2/issues/3 .

[2016-03-30 13:39] rojoko commented on #13
I read up now why you changed the API ( https://github.com/technion/ruby-argon2/issues/9 ) and I hope the devise-argon2 will include your changed API.

[2016-03-30 13:39] #13 closed

[2016-03-30 21:48] technion commented on #13
Hi Rojoko,

I would encourage any dependant gem to correctly use configure those dependencies around semantic versioning, so that breaking changes moving from 0.1.4 to 1.0.0 don't automatically propagate upwards.

I would also urge you to review this statement in the README in relation

    It is strongly advised to avoid implementations that utilise off-spec methods of introducing salts, invent i

[2016-09-19 16:01] asynchrony-ringo opened #14 "Argon2::Password.verify_password can only verify passwords with default Salt lengths"
The verify_password method will return false when attempting to validate Argon2 encodings generated with a salt length different from the default 16.

This means encodings generated within the gem validate properly but encodings generated outside of the gem will fail when validating with the gem unless the Salt length matches the gem's default.

Moving existing Argon2 encodings into a system using

[2016-09-20 03:53] technion commented on #14
Hi,

Thanks for this report. I'm going to take some time to look into an appropriate solution. Trying to mess with this has a knock-on effect of messing with the ENCODE_LEN constant, which exists in Ruby outside the C wrapper.

Being in this position would also involve messing with a recommended default, which I've been trying to discourage people from doing.

Regardless, let me look into a soluti

[2016-09-20 05:13] technion commented on #14
It would appear that my concerns related only to *creating* a hash.
Given the position of encouraging people not to come up with their own salting scheme in the first place, I'm happy to stay firm on SALT_LEN as a hard coded input.

I'm pushing a fix now however that should allow it to verify existing hashes, which I've tested against your examples.

[2016-09-20 06:40] #14 closed

[2016-09-20 14:54] micahhainline commented on #14
Any idea when we might see this in a release?

[2016-09-20 22:18] technion commented on #14
@micahhainline Given it's a bugfix, I will push a new release if no issues come up in another 24 hours.

[2016-09-20 23:55] micahhainline commented on #14
@technion wow! This is setting the bar for responsiveness! Thanks for turning it around so quickly!

[2016-09-21 00:32] technion commented on #14
@micahhainline No worries - it's a legit bug and can be fixed in a non-breaking way.

[2016-09-21 22:32] technion commented on #14
@micahhainline @asynchrony-ringo  Version 1.1.1 has been tagged and pushed.

[2016-11-22 17:07] fleadope opened #15 "Error with grsec kernel"
I have wrestled for a couple days with a deployment, and thought I would document my struggles for posterity, and others who may encounter a similar issue.

I have been trying to deploy an app to an Alpine Linux instance, using a grsecurity kernel. Every time i would do

`require 'argon2`

I would get an error (it was unreadable, but that's another issue)

[code]

After much searching and tearing

[2016-11-22 22:24] technion commented on #15
Thanks for bringing this to my attention.

I've looked this over and can't really see a "fix" beyond documenting the one you found. I've updated the README accordingly.

[2016-11-22 22:24] #15 closed

[2016-11-23 03:25] fleadope commented on #15
Thanks - I will keep my ears open, and advise if I hear anything...

[2017-02-24 14:03] siepkes opened #17 "Ship a new version?"
Hi! I noticed that the current version of this Gem doesn't build on SmartOS (a Solaris derivative). This is because support for SmartOS / Solaris was added on 28th of may in 2016 (See: https://github.com/P-H-C/phc-winner-argon2/blob/master/Makefile#L88 ) and version 1.1.1 of the gem uses an april 2016 version of Argon2. Could I tempt you to make a 1.1.2 release? I'll buy you a beer for it if your

[2017-02-25 10:07] technion commented on #17
Disclaimer: I don't have a SmartOS or Solaris system around to test this with.

No problems at all, tag has been pushed. Thanks for bringing this to my attention.

[2017-02-25 10:07] #17 closed

[2017-02-25 14:07] siepkes commented on #17
@technion Thanks for your quick response!

[2017-03-06 13:47] bdewater opened #19 "Minimum costs"
I want to ensure my test suite is fast, so for the test env I want to use minimum costs. [Based on this](https://github.com/technion/ruby-argon2/blob/89d08c1e5d01c7c9465bc327fc9120a2babd1c34/lib/argon2.rb#L12-L15) I think the following should work:
[code]

Only from `m_cost: 3` I don't get an error. Perhaps a MIN_COST constant (like the Bcrypt gem) could be introduced to make it a bit easier?

[2017-03-06 21:49] technion commented on #19
Hi,

Thanks for reporting this issue!
The minimum costing is actually enforced by the C library. You'll note the reference command line tool doesn't work with m = 1 either.

The bug you've found is that it really should be raising

    ArgonHashFail: ARGON2_MEMORY_TOO_LITTLE

And being specific with you. I'll look into it.

[2017-03-06 22:19] technion commented on #19
It looks like a signed integer issue and I'm pushing a fix shortly for the lack of specificity on the exception.

Unfortunately I'm reluctant to add a constant that's based on the reference library, because it's a horribly moving target. Which is what we saw in this case - the C library used to return an unsigned integer and errors had a positive error code, and now it uses negative numbers. I wou

[2017-03-06 22:50] bdewater commented on #19
Thanks for the swift reply! 🙇

I have zero experience with C extensions so this might be naive suggestion... but wouldn't it be possible to get the constant values from C that are used in determining the validity of these values and expose them as Ruby datatypes? Or would that require a refactoring in the C code first?

[2017-03-06 22:55] technion commented on #19
My C wrapper has broken before because constants were moved around or renamed within the official library. So regrettably the answer is yes this is possible, but creates a headache on a moving target.

[2017-03-07 00:23] #19 closed

[2017-04-16 16:44] lluchs opened #20 "No way to verify Argon2 1.0 hashes"
In the C library, `argon2_verify` automatically detects the hash version and thus allows verifying older hashes. On the other hand, [ruby-argon2 always sets the version to 1.3](https://github.com/technion/ruby-argon2/blob/e123a64f3ab2fc6af7ca951311252ac66c8d928a/ext/argon2_wrap/argon_wrap.c#L68), making newer versions of the library useless if you have a database with older hashes.

As Ruby doesn'

[2017-04-17 06:54] technion commented on #20
Unfortunately, you're referring to verifying pre-1.0-gem-release hashes, compatibility with these never having been something that came up before. It also goes back to before the reference C library had a close to stable API (it's still not great).

I'm not adverse to coding this but it'll take some time - and I'm not currently aware of any project having put Argon2 into production (with or withou

[2017-04-17 14:57] lluchs commented on #20
Thanks for the quick reply. I built a simple application with the 0.1.0 version of this gem and was trying to upgrade the application to the current version now. "Production" in my case is just a small hobby site with around 60 users and very low security requirements (for the current site, a shared password for all users would do the job as well).

In any case, I now have a database with ~60 pass

[2017-04-18 00:27] technion commented on #20
Hi,

Thanks for the confirmation. I don't want anyone left out so I will work on this issue.

[2017-04-18 01:25] #20 closed

[2017-04-18 01:33] technion commented on #20
Hi,

I've found that with a fairly thin wrapper, I could address this easier than I thought. However, there is a catch.

Version 1.0 of this gem followed the process of the reference library at the time - which is to assume that a hash missing a version tag was using the latest hash. This is discussed in the README, along with the version tag that came later and made things a bit more sensible.

I

[2017-04-18 21:27] lluchs commented on #20
Thanks a lot, I can confirm that my hashes indeed verify after adding `$v=16` (not 13).

[2017-04-19 03:31] technion commented on #20
Thanks for this confirmation, I've tagged a release with this fix.

[2017-10-23 18:34] dgpokl opened #21 "Possible to remove hard-coded upper limit on t_cost?"
I've been implementing argon2 and in testing using the argon2 CLI I determined that a `t_cost` of 500 and an `m_cost` of 12 was ideal and gave 1-second hash times. When I try to use the ruby-argon2 gem, I found that it restricts t to a maximum of 10. This seems strange to me given that the hard-coded limit for m_cost is 2^31 or 2GB. This seems like an unwise amount of memory to use for password ha

[2017-10-23 22:09] technion commented on #21
Most people would consider a one second hash time a DoS attack. This library was built with overly "safe" values to prevent someone doing something silly.

This had, at a root cause, a highly aggressive email I receive from someone who DoS'ed themselves with a similar library I wrote.

If much higher values of t_cost suit your needs and use case, I'll raise the limitation. This will be released sh

[2017-10-23 22:34] technion commented on #21
I've pushed a fix. You'll probably appreciate a release, I'll do one tonight.

[2017-10-24 03:06] #21 closed

[2017-10-24 16:07] dgpokl commented on #21
Thanks for the words of caution and also for the responsiveness. I may reconsider. Overall, just trying to follow best practices here and don't want the 'cure' to be worse than the disease.

[2017-10-24 21:06] technion commented on #21
@dgpokl  In terms of best practice, the official paper has a "recommended parameters" section here:

https://github.com/P-H-C/phc-winner-argon2/blob/master/argon2-specs.pdf

Unfortunately it doesn't suggest a reasonable timeframe, but asks you to identify one. So you may feel one second is fine.

Most top Google hits for bcrypt recommendations suggest 0.1s to 0.3s.

[2018-04-19 20:36] jisaacks opened #23 "Argon2::Password.create giving inconsistent results."
When just using `Argon2::Password.create` I am starting to get different results every time (I have been using this code for over a year tho and it has not been an issue until now).

[code]

however if I create an instance like this it works:

[code]

Could this be something environmental that is causing it to always be different? Is this a bug?

Happy to give any other info you may need.

[2018-04-20 04:51] technion commented on #23
The value for the salt is generated randomly when you call "create" as a part of the initialisation:

https://github.com/technion/ruby-argon2/blob/master/lib/argon2.rb#L17

It is *intended* that you get different results for every hash you create (even with the same input), as this is how the salt prevents rainbow attacks.

This is consistent with the operation of bcrypt, and you can read more abo

[2018-04-23 06:41] #23 closed

[2018-04-23 16:33] jisaacks commented on #23
Thanks so much! That clarified everything.

[2018-08-31 05:09] midnight-wonderer opened #24 "Argon2id binding"
Quote from the IETF draft.
https://tools.ietf.org/html/draft-irtf-cfrg-argon2-03#section-9.4

I wonder if we can get the variant to be the default of `ruby-argon2` too?

[2018-08-31 06:07] technion commented on #24
Definitely a good idea.
It's probably a better default based on the above - which is a change from the earlier recommendation.

Give me a bit of time to work through this.

[2018-09-18 10:59] technion commented on #24
@MidnightWonderer  Just updating to note I've sent https://github.com/P-H-C/phc-winner-argon2/pull/261 in to address the upstream issue, waiting on merge or feedback.

[2018-11-26 10:46] technion commented on #24
@midnight-wonderer  Thanks for your patience here. I've been working on this but I've still concerned about ease of integration.. I'm going to be sending more upstream to ease the transition.

[2018-11-26 11:07] technion commented on #24
@midnight-wonderer  Thanks for your patience with this. As you may have seen, my PR has been taken upstream.

I've pushed some commits to integrate support for 2id in our C bindings, and I'll be integrating verify support soon. Changing the actual default will take a major version bump, but we'll get there.

[2018-12-04 06:20] ankane commented on #24
Thanks for all the updates @technion 👍 I'm excited to see this as well (and may make it the default for [blind index](https://github.com/ankane/blind_index) in the future).

[2018-12-04 07:09] midnight-wonderer commented on #24
@ankane are you planning to upgrade from argon2i to argon2id for your indexes?
Does this actually a bad thing for indexing use cases?

[2018-12-04 07:38] technion commented on #24
I have tagged v1.2.0 which now supports verifying Argon2id hashes.

I will shift the default in master shortly but I'll take my time with tagging 2.0 and ensure it's correct.

[2018-12-04 07:57] ankane commented on #24
Thanks @technion 💯 Are there plans to add support for creating Argon2id hashes (`hash_argon2id`)?

[2018-12-04 08:01] midnight-wonderer commented on #24
@ankane I think that changing the algorithm would have the same result as changing salt (or key).
Not many people would decide to do it in their production environment.

This will be a bit off topic but just my 2 cents:
The indexing is a misuse of Argon2 in the first place IMHO. (There are parameters apart from salt stored in the encrypted data. e.g., algorithm version)
Encrypting just the passwor

[2018-12-04 22:54] technion commented on #24
@ankane absolutely, I'll be making Argon2id the default in 2.0.

[2019-01-02 11:33] technion commented on #24
Update: master now hashes to Argon2_id, whilst maintaining full backward compat. This feature needs better tests before its'fully baked.

[2019-01-02 18:16] ankane commented on #24
@technion Awesome! I think it'd be good to have a separate function like `hash_argon2id_encode` so Argon2i can still be used when desired.

[2019-01-02 21:57] technion commented on #24
@ankane I've had a goal here of not giving someone enough rope to hang themselves.

I certainly appreciate the need to support verifying all formats, but I can refer to the amount of in production code I've been told apparently uses the _salt_do_not_supply parameter in describing why just following current best practice is a better proposal.

[2019-01-02 22:15] ankane commented on #24
I completely agree that cryptography libraries should be designed to be hard to misuse, but don't think this falls into that category.

Regardless, thanks for adding Argon2id support 🎉

[2019-01-03 21:20] technion commented on #24
I'll close this off as master has covered everything I believe is necessary. I'll tag 2.0 shortly for release.

[2019-01-03 21:20] #24 closed

[2019-04-16 18:33] xlavoie commented on #1
I had this same problem but being on Windows 10 using RubyInstaller 2.5.3-1 I could not apply the workaround.

I managed to fix the issue by replacing line 7 in ffi_engine.rb from:
`ffi_lib` FFI::Compiler::Loader.find('argon2_wrap')`
to:
`ffi_lib` FFI::Compiler::Loader.find('libargon2_wrap')`

Hope this can help someone out!

[2019-07-24 01:00] astounding opened #32 "Gem fails to build under FreeBSD 12.0"
This gem fails to build under FreeBSD 12.0. I've included the FreeBSD build errors below:

`current directory: /usr/local/lib/ruby/gems/2.4/gems/argon2-2.0.2/ext/argon2_wrap
/usr/local/bin/ruby24 -r ./siteconf20190723-30514-1iieq5p.rb extconf.rb

current directory: /usr/local/lib/ruby/gems/2.4/gems/argon2-2.0.2/ext/argon2_wrap
make "DESTDIR=" clean
make: "/usr/local/lib/ruby/gems/2.4/gems/argon2-2

[2019-07-24 01:20] technion commented on #32
Can you advise if the official Argon2 source compiles successfully?

https://github.com/P-H-C/phc-winner-argon2

My Makefile was modelled on that one, and I barely have any C code on top.

[2019-07-24 06:55] astounding commented on #32
If I clone the Argon2 repo and run make in it, it to errors.  However if I switch from BSD's built-in /usr/bin/make (BSD make) to the FreeBSD port of GNU make (I have installed the gmake port), it builds just fine.  This leads me to think the issue is that the gem's Makefile(s) use features that are only compatible with GNU make.

I don't know how to update the gem to use gmake on FreeBSD IF it is

[2019-07-24 09:21] technion commented on #32
Unfortunately that part makes it an upstream issue. I'm certainly keen to resolve this, but I'm not familiar with BSD make and the upstream makefile is already full of "if os = x then y" patterns. I do suggest raising a ticket there.

There are however several Google hits involving "extconf.rb" which talk about similar issues, and I'll continue to see if I can work around anything up on my side.

[2019-07-24 09:37] technion commented on #32
@astounding Based on a nokogiri thread, would you mind running it as:

MAKE=gmake gem install argon2

Or "bundle install" as appropriate.

[2019-07-24 10:53] astounding commented on #32
Success!  MAKE=gmake worked like a charm.  Thanks!

[2019-07-24 10:53] #32 closed

[2019-07-25 01:04] technion commented on #32
Thanks @astounding - I'll document this in the README shortly.

[2019-09-03 09:46] Aupajo opened #33 "Unsigned RubyGem"
The `argon2` gem is unsigned and cannot be installed with the `HighSecurity` option:

[code]

If this is something you'd consider changing and aren't familiar with the process, https://guides.rubygems.org/security/#building-gems has some good instructions.

[2020-06-21 11:53] woschwarz commented on #32
I have the same error message when I install with "gem install argon2" under FreeBSD 12.1. Sorry for the stupid question, but where do I have to enter MAKE=gmake gem install argon2

[2020-06-22 06:35] technion commented on #32
@woschwarz  I'm not enough of a FreeBSD user to know a "proper" fix, but the short is that running "gem install" on this particular gem uses make, and FreeBSD's "make" isn't the "gmake" that gems expect.

If you're currently just typing "gem install argon2", I would expect you could just type "MAKE=gmake gem install argon2"

[2020-09-17 01:40] tenshiAMD opened #35 "Required Ruby Version unclear based on gemspec"
Greetings @technion! I've just started using this gem but I noticed that the `required_ruby_version` is not defined in the `gemspec` file of this gem. It is better to indicate it so we know about its compatibility scope. Thanks~!

[2020-09-17 01:56] tenshiAMD opened #36 "Rubocop issues"
I've encountered issues regarding Rubocop (see stack trace below) since I've started to add this gem as a dependency in a gem I was working on.

[code]

[2020-09-17 02:01] tenshiAMD commented on #36
@technion I've created PR above, please take a look. Thanks~!

[2020-09-20 23:06] technion commented on #36
I have merged the fix.

[2020-09-20 23:06] #36 closed

[2020-09-20 23:20] technion commented on #35
I don't invest time testing on EoL versions of Ruby, so I hadn't documented without a definitive answer. I know initial versions tested against Ruby 2.2 and I doubt I broke that, however as that's listed as currently unsupported and you've wanted a definite answer I've specified 2.5.8 as required. This will push shortly.

[2020-09-20 23:20] #35 closed

[2020-09-21 01:40] tenshiAMD commented on #35
@technion please let us know when you will be releasing a new version with these changes so we can update your gem on our end. Thanks, man~!

[2020-09-21 01:47] tenshiAMD commented on #35
@technion I see the builds got broken when you specified ruby version with `~> 2.5.8` since in the travis test you include and `2.6.0` and `2.7.1`. I hope do not mind if I do PR to fix it, right?

[2020-09-21 04:37] technion commented on #35
Awesome. I should have just left this thing out.

Feel free to create a CR fix.

[2020-12-10 09:12] kingsleyh opened #38 "Incompatible with other versions of Argon2"
Hi,

Is there any way to make this library compatible with these Javascript versions of Argon2:

Both of these agree with each other regarding hashes generated:

https://argon2.online/
https://github.com/ranisalt/node-argon2

both of the Javascript ones produce the same hash for the given parameters. However this library gives a different hash for the same input parameters.

for example:

[code]

[2020-12-10 12:40] kingsleyh commented on #38
Hi

nevermind I figured it out - it was that the memory cost parameter was not in the same format - got it working now thanks :)

[2020-12-10 12:40] #38 closed

[2021-01-04 18:02] mensfeld opened #41 "RubyGems and Github naming mismatch"
Hey,

My name is Maciej Mensfeld and I run a research security project called [diffend.io.](https://diffend.io.)

I've noticed, that you have a mismatch between the repo name on GitHub (ruby-argon2) and the RubyGems one (argon2). This mismatch has been recently used as a brandjacking base for popular libraries like yours thus I took courtesy and "booked" it for you (if you want). If not, I'll just

[2021-01-05 07:38] technion commented on #41
- I don't feel it's useful to name every single Ruby gem ruby-thingy
- In most circumstances I would have named the Github repo "Argon2", but then that's an official C project and nearly language has its own bindings. I don't feel a world where Rust Argon2, Javascript Argon2, etc all get a Github repo named "Argon2".

Hence here we are. Thanks for being proactive in registering potential brand jac

[2021-01-05 07:38] #41 closed

[2021-01-05 09:41] mensfeld commented on #41
:wave: @technion I agree with your arguments.

I opened this issue just to make you aware that I "booked" this name to prevent this type of thing for this particular case and to let you know, that if you would need it, all you need to do is just ping me.

Have a great day.

[2021-03-13 20:06] stouset opened #42 "Allow providing parallelism cost parameter"
Right now, parallelism is hardcoded to 1. It would be great if this could be specified along with t_cost and m_cost.

[2021-03-27 01:35] technion commented on #42
At the time this was written, every paper on the issue recommended p=1. I've been reluctant to let people mess with such things given the amount of _salt_do_not_provide I'm finding hardcoded in people's code.
That said, I appreciate sentiment on the p value is under review, so I'll look into this. It permeates down to the C bindings so there's a bit involved.

[2021-03-27 02:48] athix opened #43 "Error when attempting to use fork"
Gemfile:

[code]

When running `bundle` / `bundle install` I get the following error:

[code]

@technion thoughts?

[2021-03-27 02:51] athix commented on #43
Looks like using my local copy might be a viable workaround for this: `bundle config local.argon2 <local_repo_path>`

[2021-03-27 05:37] technion commented on #43
I have a feeling something about using a fork like this means you haven't initialized and built the submodule.

https://github.com/technion/ruby-argon2#building-locallytests

Your error output looks a lot like when I would work locally and forget to do that.

[2021-03-27 05:46] athix commented on #43
Hmm. When I initialized the git submodule by following your documentation, it didn't cause any changes that I could push to my fork upstream as far as I could tell. Did you have to do anything from the Github side of things?

[2021-03-28 10:47] technion commented on #43
I only recently re-did the CI when Travis stopped working and I can't think of anything special that isn't documented. But perhaps there's a build requirement I'm not aware of. Looking here:

make: *** No rule to make target '../phc-winner-argon2/src/argon2.c', needed by 'libs'.  Stop.

Does that file exist on your system? If you jump in ruby-argon2/ext/argon2_wrap, can you run "make test" ? There

[2021-03-28 17:22] athix commented on #43
[code]

Looks like it does exist, but maybe it can't find it because it's in the root of rvm instead of the gemset that it's building for?

I had to install clang for the test suite to work, but it all passed the first time I ran it.

I tried to run it again to grab the test suite output to put on this comment, and interestingly enough I did run into this error:

[code]

But running the checkout a

[2021-03-28 21:29] technion commented on #43
I've walked through a new setup on a new machine and put the output here:

https://gist.github.com/technion/b4f76cd9e3cb20981962b964d7e6c480

I'm having a sinking feeling that the fact I see version 3.0 in your output is the issue. None of my builds have Ruby 3.0 installed. I'll start some testing now with this.

[2021-03-28 21:39] athix commented on #43
@technion link to the failing build if that helps any: https://github.com/Sorcery/sorcery-rework/pull/5/checks?check_run_id=2211559532#step:4:150

I'll also try updating the rework to include the version matrix introduced to the main Sorcery repo, and see if the older versions of ruby pass.

[2021-03-28 21:51] athix commented on #43
@technion fails for ruby versions 2.5.8, 2.6.6, 2.7.2, and 3.0.0, doesn't seem to be due to Ruby 3.0 changes: https://github.com/Sorcery/sorcery-rework/runs/2214111105

[2021-03-28 22:20] athix opened #45 "legacy.rb test unused and in broken state"
Currently the legacy test isn't included in the minitest suite due to lacking the `_test` suffix. Additionally, if you add the suffix and run the tests, it appears to be in a failing state due to a missing constant:

[code]

Are these tests obsolete / ready to be removed entirely?

[2021-03-29 01:07] technion commented on #45
This is a valid test for legacy hashes. The broken filename meant it didn't detect the missing constant. I've pushed a fix for this.

[2021-03-29 01:07] #45 closed

[2021-03-29 01:08] technion commented on #43
Can confirm I've deployed 3.0 and run my own tests without a problem. I'm continuing to investigate.

[2021-03-29 01:25] technion commented on #43
I repeated the entire process from my above gist, starting with

% git clone https://github.com/athix/ruby-argon2.git

And the whole process completed the same.

I'm fairly sure, looking at your Github worker, the issue here is that pulling a gem in from a git source the way you have done above doesn't actually initialize the sub modules and build them. Any test that actually installs the gem - wi

[2021-03-29 02:01] athix commented on #43
Thanks for being so thorough, I appreciate the help debugging this!

I'm updating #44 with the Ruby 3.0 signature stuff, but I'll look into your suggestion about making the workflow include the build steps once I'm done. It sounds promising. :slightly_smiling_face:

[2021-03-29 02:06] athix commented on #45
Thanks for the quick fix @technion!

[2021-03-29 03:27] athix commented on #43
@technion Eureka!

Turns out you just need to pass bundler `submodules: true` to let it auto expand the submodules. :man_facepalming:

[2021-03-29 03:27] #43 closed

[2021-03-29 18:16] stouset commented on #42
Thanks for the response. I only noticed the `README` comment about parallelism being unexposed as a design decision after opening this ticket, and I can accept that there's some sharper edges around that cost parameter than might be expected.

Perhaps change the salt parameter to `_salt_i_hereby_assert_under_penalty_of_international_embarrassment_that_i_am_a_qualified_cryptographer`? :)

[2021-03-30 01:32] technion commented on #42
I can almost guarantee I'll get a PR saying "it's taking me too long to type so I've changed it"

[2021-03-31 03:42] athix opened #46 "Github Org for improved SEO"
Hi @technion,

Would you be okay with moving the repo location for this to an organization? For example:

* `ruby-argon2/argon2` or
* `ruby-argon2/ruby-argon2`

Similar to [bcrypt-ruby](https://github.com/bcrypt-ruby), this would give better SEO for users trying to find the official ruby binding for Argon2, and allow you to take on more maintainers easily in the future if you choose to do so.

You

[2021-04-02 07:08] technion commented on #46
As a security library I don't intend on making handing over control "for improved SEO".

[2021-04-02 07:08] #46 closed

[2021-04-02 14:53] athix commented on #46
@technion I think you misunderstand what I'm suggesting. This would be your organization, with you as the sole member and owner/creator. Who would you be "handing over control" to except yourself?

For example, I created [Aeon Splice](https://github.com/aeonsplice) a while back for managing my repos related to a game I'm making, and I am the only person with access/control over the organization.

[2021-04-09 08:58] technion commented on #42
This is now pushed to master as an option.

[2021-04-09 08:58] #42 closed

[2021-04-09 09:15] #33 closed

[2021-04-09 09:15] technion commented on #33
I've regretted that I haven't had a "proper" answer to this for quite some time. Certainly in my ideal scenario, everything would be signed everywhere.

Even signed, you won't be able to install in HighSecurity mode because neither of our dependencies are signed. I've gone out of my way to utilise a very bare minimum of deps, but ffi isn't able to be avoided. Secondly, using the guide you've got,

[2021-04-09 10:42] technion commented on #33
Unfortunately I'm going to have to revert this. Signing appears to work on some machines but then I go to verify on others and I just get this:
[code]

I've reviewed common gems and there's no certificates shipped with libsodium or bcrypt, two of the most trusted and significant crypto libraries.

[2021-04-24 15:48] athix commented on #33
I would highly recommend signing your git commits. For guidance, see: https://docs.github.com/articles/signing-commits-with-gpg/

[2021-10-01 23:29] karl-finch opened #53 "Unable to install latest on master via Bundler"
I can build fine if I run `bin/setup` but if I try to install via bundler I get this error in `gem_make.out`:

[code]

I'm just trying to get the latest feature that let's me set `p_cost`. Also wish all options of the `argon2` reference command were implemented so I can set the hash length to `64` instead of `32` as the gem has it hardcoded.

[2021-10-02 06:24] technion commented on #53
Unfortunately if you want to install from master, you'll have to run through bin/setup. I don't have a clean way to address that, except to say that I try to make releases any time I become aware of a useful feature in master. To that end, I've just pushed 2.1.0.
[code]

Setting the hash length in my view is another of those choices the average user just shouldn't make. I appreciate you may have a

[2021-10-02 06:24] #53 closed

[2021-10-02 07:41] karl-finch commented on #53
Thanks for the 2.1.0 release! I'll go with your default hash length of 32 however my rational for using 64 is just to future-proof my work a bit. 64-bytes should be strictly more secure than 32, should it not? A secure minimum of 32-bytes would make sense but I don't see the argument for limiting the maximum.

Anyway, thank you for your work!

[2021-10-05 18:43] jeremyevans opened #54 ":salt_do_not_supply option renamed"
This was apparently deliberate in 0ef1e33b7d9ec5d8a1fc59b0a092e236d59109ca, but I think you should reconsider as there are valid use cases.

Rodauth (https://github.com/jeremyevans/rodauth) uses this option because it separates the salt from the password hash to prevent attackers from being able to brute force password hashes (attackers cannot brute force passwords if they only have the salt and n

[2021-10-05 20:43] jeremyevans commented on #54
@athix You are off base :).  With a password hash, an attacker can try to bruteforce the password.  Without a password hash, an attacker cannot.  With Rodauth's design, because an attacker doesn't have access to the hash itself, the only way they can bruteforce a password is to issue a database query for each check (candidate password hashes are checked using a security definer database function t

[2021-10-05 21:03] technion commented on #54
Breaking changes are not on. I'm reverting this immediately. It's not like something named salt_do_not_supply was confusing to users.

[2021-10-05 21:05] #54 closed

[2021-10-05 21:07] athix commented on #54
@jeremyevans

From what I've researched so far, this is exactly the purpose of the pepper, per [Argon2 README](https://github.com/P-H-C/phc-winner-argon2#library):

That said, this library is @technion rodeo, and it looks like this is being reverted either way. Problem solved :tada: